<h2 style="text-align:center;margin-top:50px;">Welcome {{user.username}}!</h2>
<h1 style="text-align:center;">Account Panel</h1>
{% if user.is_authenticated %}
    <button id="logout-btn" value="Logout" onclick="location.href = '/login'">
        Logout</button>
        <!-- <a href = "{% url 'login' %}">Logout</a> -->
{% endif %}

<marquee scrollamount="18.5" behavior="slide" direction="up">
    {% for message in messages %}
        {% if message.tags == "error" %}
            <p id="messageError">{{message}}</p>
        {% else %}
            <p id="messages">{{message}}</p>
        {% endif %}
    {% endfor %}
</marquee>

<button style="margin-left:1080px;margin-top:30px;" 
onclick="location.href = '/atm-status'">View ATM Status</button>
<button style="margin-left:1080px;margin-top:30px;" 
onclick="location.href = '/add-card'">Add Card</button>


<h1 style="margin-left:200px;">Your Card(s):</h1>
<p4 style="margin-left:695px;margin-top:-50px;">Click to view details</p4>
<div style="text-align: center;">
    <h1>
        {% for data in card %}
            {% if data.card_name %}
                <button method="get" name="{{data.card_name}}" class="card-btn"
                onclick="location.href='card-details/?name={{data.card_name}}'">{{data.card_name}}</button>
            {% endif %}
        {% endfor %}
    </h1>
</div>


<script>
    var modal = document.getElementById("myModal");
    //var btn = document.getElementsByClassName("card-btn");
    var span = document.getElementsByClassName("close")[0];

    for(var i = 0; i < btn.length; i++){
        btn[i].onclick = function() {
        modal.style.display = "block";
        }
    }
    
    span.onclick = function() {
    modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function reply_click(clicked_class)
    {
        var x = clicked_class.getAttribute("name");
        
        document.getElementsByClassName("card-details")[0].innerHTML = x;
    }

</script>

<style>
    #messages{
        text-align:center;
        font-size: 18;
		background-color: rgb(88, 231, 160);
		color: #fff;
        padding: 10px;
		width: 200px;
        height: 24px;
		margin-top: 0px;
        margin-left: 650px;
	}

    #messageError{
        text-align:center;
        font-size: 18;
		background-color: rgb(241, 210, 123);
		color: #fff;
        padding: 29px;
		width: 500px;
        height: -3px;
		margin-top: 0px;
        margin-left: 520px;
	}

    button {
        font-size: 18;
        background-color: #5ea8ee;
        color: rgb(250, 250, 250);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-left: 680px;
    }

    button:hover {
        opacity: 0.8;
    }

    #logout-btn{
        background-color: #ee635e;
    }

    .card-btn{
        background-color: wheat;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 8%;
    }

    .card-btn:hover{
        opacity: 0.8;
    }
    
</style>


