<h2 style="text-align:center;margin-top:50px;">Welcome {{Account.account_name}}!</h2>
<h1 style="text-align:center;">User Account Panel</h1>

{% if user.is_authenticated %}
<button id="logout-btn" value="Logout" onclick="location.href = '/'">
    Logout</button>

{% endif %}

<!-- Looks up messages, if there is one, prints one -->
<marquee scrollamount="18.5" behavior="slide" direction="down">
    {% for message in messages %}
    {% if message.tags == "error" %}
    <p id="messageError">{{message}}</p>
    {% else %}
    <p id="messages">{{message}}</p>
    {% endif %}
    {% endfor %}
</marquee>

<h1 style="margin-left:230px;margin-top:50px;">Your Card(s):</h1>
<p4 style="margin-left:695px;margin-top:-50px;">Click to view details</p4>
<div style="text-align: center;">
    <h1>
        {% for data in card %}
        {% if data.card_name %}
        <button method="post" name="{{data.card_name}}" class="card-btn"
            onclick="location.href='card-details/?card_name={{data.card_name}}'">{{data.card_name}}</button>
        {% endif %}
        {% endfor %}
    </h1>
</div>

<button class="transaction-btn" onclick="location.href = 'withdrawal'">Cash Withdrawal</button>
<button class="transaction-btn" style="margin-top:-22px;" onclick="location.href = 'transfer'">Transfer</button>





<script>

    function reply_click(clicked_class) {
        var x = clicked_class.getAttribute("name");

        document.getElementsByClassName("card-details")[0].innerHTML = x;
    }

</script>

<style>
    #messages {
        text-align: center;
        font-size: 18;
        background-color: rgb(78, 216, 147);
        color: #fff;
        padding: 50px;
        width: 200px;
        height: 24px;
        margin-top: -77px;
        margin-left: 615px;
    }

    #messageError {
        text-align: center;
        font-size: 18;
        background-color: rgb(233, 201, 114);
        color: #fff;
        padding: 29px;
        width: 250px;
        height: -10px;
        margin-top: -15px;
        margin-left: 615px;
    }

    button {
        font-size: 18;
        background-color: #5ea8ee;
        color: rgb(250, 250, 250);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
    }

    button:hover {
        opacity: 0.8;
    }

    #logout-btn {
        background-color: #ee635e;
        margin-left: 1080px;
    }

    .card-btn {
        background-color: wheat;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 8%;
    }

    .card-btn:hover {
        opacity: 0.8;
    }

    input[type=text],
    input[type=number] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .transaction-btn {
        font-size: 18;
        background-color: #5ea8ee;
        color: rgb(250, 250, 250);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-left: 1080px;
        margin-top: -100px;
    }

    .cancel-button {
        background-color: #ee685e;
        color: rgb(250, 250, 250);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-left: 600px;
    }

</style>